@media screen and (min-width: 1280px) and (max-width: 1679px) {
	.container {
		max-width: 1280px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.header-container {
		max-width: 1280px;
		padding-left: 40px;
		padding-right: 40px;
	}

	.header-info {
		gap: 273px;
	}

	.header-top {
		gap: 317px;
	}

	.header-title {
		margin-top: 340px;
	}

	.header-title-2 {
		margin-top: 380px;
	}

	.arrow {
		top: auto;
		left: auto;
		align-self: flex-end;
		margin-top: 640px;
	}

	.about-us {
		margin-top: 100px;
	}

	.about-us__video-container {
		width: 584px;
		height: 329px;
		margin-bottom: 0;
	}

	.about-us__video {
		width: 584px;
		height: 329px;
	}

	.about-us__descr {
		margin-right: 35px;
		margin-bottom: 100px;
	}

	.about-us__info-block-bottom {
    gap: 32px;
	}

	.about-us__info-top {
		width: 378px;
	}

	.products {
		margin-top: 100px;
	}

	.card {
		width: 584px;
	}

	.card-small {
		width: 276px;
	}

	.card-container-1 {
		background-position: 260px 27px;
	}

	.card-container-2 {
		background-position: 289px 28px;
	}

	.card-container-6 {
		background-position: 283px 58px;
	}

	.card-container-10 {
		background-image: url('/image/products-10.1.png');
		background-position: -30px 68px;
	}

	.card-container-11 {
		background-image: url('/image/products-11.1.png');
		background-position: -42px 179px;
	}
	
	.card-container-12 {
		background-position: 232px 30px;
	}
	
	.card-container-13 {
		background-position: 309px 32px;
	}

	.card-descr {
		width: 300px;
	}

	.card-descr__small {
		width: 220px;
	}

	#gofrirovka {
		background-image: url('/image/image38.png');
		background-size: 783px 623px;
	}
	
	#printing {
		background-image: url('/image/image39.png');
		background-size: 719px 623px;
	}

	.slider-block {
		margin-left: 783px;
	}

	.slider-block__item {
		width: 370px;
	}

	#printing .slider-block {
		margin-left: 742px;
		padding-bottom: 88px;
		gap: 32px;
	}

	.technologies {
		margin-top: 100px;
	}

	.technologies-info {
		background-size: 115px 110px;
	}

	.technologies-sort {
		margin-bottom: 100px;
		gap: 32px;
	}

	.technologies-block {
		width: 379px;
		gap: 16px;
	}

	.info-title {
		font-size: 24px;
		width: 209px;
	}

	.info-descr {
		width: 298px;
	}

	.technologies__info-descr {
		width: 315px;
	}

	.technologies-nature {
    padding: 65px 107px;
	}

	.services {
		margin-top: 100px;
	}

	.services-sort {
		gap: 32px;
	}

	.services-block {
		gap: 16px;
	}

	.services__info-descr {
		width: 315px;
	}

	.services-info-block {
		width: 584px;
	}

	.services-info-block__title {
		width: 200px;
	}

	.services-info-block__descr-1 {
		width: 285px;
	}

	.services-info-block-2 {
		background-image: url(/image/services-2.png);	
		background-size: 468px 314px;
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	.newsletter {
		margin-top: 80px;
		margin-bottom: 456px;
	}
	
	.new-block-1 {
		width: 377px;
		height: 246px;
	}
	
	.new-block-2 {
		width: 377px;
		height: 246px;
	}
	
	.new-block-3 {
		width: 377px;
		height: 246px;
	}

	.new-date {
		margin-top: 278px;
	}

	.new-title {
		width: 378px;
	}

	.new-descr {
		width: 351px;
	}

	.footer-info {
		margin-right: 40px;
		padding-right: 229px;
	}

	.footer-contacts {
		margin-left: 40px;
		gap: 0;
	}

	.footer-contacts__text-960 {
		display: flex;
	}

	.footer-contacts__social {
		display: flex;
		gap: 16px;
	}

	.footer-contacts__text {
		display: flex;
		margin-right: 84px;
		gap: 16px;
	}

	.footer-contacts__info {
		padding-left: 40px;
		margin-left: 410px;
		border-left: 1px solid #C7C3C1;
		padding-bottom: 35px;
	}

	.footer-info__descr {
		width: 411px;
		padding-right: 0;
	}

	.footer-info__descr-text {
		width: 351px;
	}

	.footer-info__subdescr {
		margin-right: 272px;
	}

	.police-text {
		padding-left: 40px;
		padding-right: 26px;
	}
}

@media screen and (max-width: 1279px) {
	.header-container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.container {
		padding-left: 40px;
		padding-right: 40px;
	}

	.header-info {
		gap: 90px;
	}

	.header-top {
		gap: 180px;
	}

	.header-list {
		gap: 48px;
	}

	.header-item {
		font-size: 16px;
	}

	.arrow {
		top: auto;
		left: auto;
		align-self: flex-end;
		margin-top: 700px;
	}

	.about-us {
		margin-top: 60px;
	}

	.about-us__video-container {
		width: 640px;
		height: 361px;
		margin-bottom: 62px;
		margin-left: auto;
		margin-right: auto;
	}

	.about-us__video {
		width: 640px;
		height: 361px;
	}

	.about-us__descr {
		width: 100%;
		margin-bottom: 32px;
		margin-right: 0;
	}

	.about-us__descr-title {
		font-size: 32px;
		line-height: 44px;
	}

	.about-us__descr-info {
		font-size: 24px;
		line-height: 32px;
		width: 100%;
	}

	.about-us__descr-descr {
    font-size: 16px;
    line-height: 24px;
		width: 100%;
	}

	.about-us__info {
		display: flex;
		flex-direction: row;
		gap: 76px;
	}

	.about-us__info-block-top {
		flex-direction: column;
		gap: 64px;
	}

	.about-us__info-block-bottom {
		flex-direction: column;
		gap: 48px;
	}

	.about-us__info-block:first-child {
    margin-bottom: 0;
	}	

	.about-us__info-top {
		width: 380px;
	}

	.info-descr {
		width: 295px;
	}

	.services__info-descr {
		width: 460px;
	}

	.products {
		margin-top: 109px;
	}

	.title {
		font-size: 32px;
		line-height: 44px;
	}

	.descr {
		width: 100%;
		font-size: 20px;
		line-height: 28px;
	}

	.card {
		width: 880px;
		height: 300px;
		z-index: 100;
	}

	.card-title {
		font-size: 24px;
		line-height: 32px;
	}

	.card-small {
		width: 424px;
		height: 300px;
	}

	.card-title__small {
		width: 318px;
	}

	.card-descr {
		width: 468px;
	}

	.card-descr__small {
		width: 348px;
	}

	.card-container-1 {
		background-image: url('./image/products-1.2.png');
		background-position: 503px -21px;
	}
	
	.card-container-2 {
		background-image: url('./image/products-2.2.png');
		background-position: 546px -4px;
	}
	
	.card-container-3 {
		background-position: -17px 61px;
	}
	
	.card-container-4 {
		background-position: -9px 68px;
	}
	
	.card-container-5 {
		background-image: url('./image/products-5.2.png');
		background-position: 418px 0;
	}
	
	.card-container-6 {
		background-position: 474px -8px;
	}
	
	.card-container-7 {
		background-position: 0 57px;
	}
	
	.card-container-8 {
		background-image: url('./image/products-8.2.png');
		background-position: -11px 71px;
	}
	
	.card-container-9 {
		background-image: url('./image/products-9.png');
		background-position: 338px -16px;
	}
	
	.card-container-10 {
		background-image: url('./image/products-10.1.png');
		background-position: -18px 16px;
	}
	
	.card-container-11 {
		background-image: url('./image/products-11.2.png');
		background-position: 46px 103px;
	}
	
	.card-container-12 {
		background-image: url('./image/products-12.2.png');
		background-position: 458px -19px;
	}
	
	.card-container-13 {
		background-image: url('./image/products-13.2.png');
		background-position: 501px 6px;
	}

	.technologies-info {
		background-size: 115px 110px;
	}

	.technologies-descr {
		width: 728px;
	}

	.slider-btn {
		font-size: 13px;
	}

	.technologies-slider__btn {
    gap: 19px;
	}

	.slider-container {
		flex-direction: column;
	}

	#gofrirovka {
		background-image: url('/image/image12.png');
		background-size: 449px 531px;
	}

	#printing {
		background-image: url('/image/image12.png');
		background-size: 449px 531px;
	}

	.slider-block {
		margin-left: 489px;
		padding-top: 20px;
		padding-right: 40px;
		padding-bottom: 80px;
		padding-left: 40px;
		gap: 24px;
	}

	#printing .slider-block {
		margin-left: 489px;
		padding-bottom: 80px;
	}

	#printing .slider-title {
		font-size: 16px;
	}

	#printing .slider-list {
		font-size: 13px;
	}

	.slider-block__item {
		width: 370px;
	}

	.technologies-sort {
		flex-direction: column;
		margin-top: 35px;
		gap: 48px;
		margin-bottom: 60px;
	}

	.technologies__info-descr {
		width: 460px;
	}

	.technologies-nature {
		padding: 65px 0;
	}

	.services {
		margin-top: 80px;
	}

	.services-descr {
		width: 728px;
	}

	.services-sort {
		margin-top: 32px;
		margin-bottom: 66px;
		flex-direction: column;
		gap: 48px;
	}	

	.services-info-block {
		width: 424px;
		height: 240px;
	}

	.services-info-block-1 {
		background-image: url('/image/services-block-1.1.png');
		background-size: contain;
	}

	.services-info-block-1::before {
		content: none;
	}

	.services-info-block-2 {
		background-image: url('/image/services-block-2.1.png');
		background-size: contain;
		background-position: initial;
	}

	.services-info-block-3 {
		background-image: url('/image/services-block-3.1.png');
		background-size: contain;
		background-position: top;
	}

	.services-info-block-3::before {
		content: none;
	}

	.services-info-block-3::after {
		content: none;
	}

	.services-info-block-4 {
		background-image: url('/image/services-block-4.1.png');
		background-size: contain;
		background-position: top;
	}

	.services-info-block-4::before {
		content: none;
	}

	.services-info-block__title {
		width: 348px;
		margin-top: 242px;
		margin-left: 0;
	}

	.services-info-block__subtitle {
		margin-left: 0;
	}

	.services-info-block__descr-1, .services-info-block__descr-2, .services-info-block__descr-3, .services-info-block__descr-4 {
		margin-left: 0;
	}

	.services-info-block-3, .services-info-block-4 {
		margin-top: 261px;
	}

	.consultation {
		margin-top: 240px;
	}

	.newsletter {
		margin-top: 64px;
		margin-bottom: 100px;
	}

	.news {
		flex-direction: column;
		gap: 32px;
	}

	.new {
		height: 220px;
		width: 880px;
		flex-direction: row;
		gap: 40px;
	}

	.new-block {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.new-block-1, .new-block-2, .new-block-3 {
		width: 320px;
		height: 209px;
	}

	.new-date {
		margin-top: 0;
		margin-left: 360px;
		width: 100%;
	}

	.new-title {
		width: 520px;
		margin-left: 360px;
	}

	.new-descr {
		width: 520px;
		margin-left: 360px;
	}

	.footer-top {
		padding-bottom: 40px;
	}

	.footer-middle {
		display: inline-flex;
		flex-direction: row;
		padding-top: 26px;
		padding-bottom: 35px;
		border-bottom: 1px solid #C7C3C1;
		border-top: 1px dashed #C7C3C1;
	}

	.footer-info {
		border-right: none;
		border-bottom: none;
		padding-right: 200px;
		padding-bottom: 0;
		margin-right: 0;
	}

	.footer-info__descr {
		padding: 0;
		width: 351px;
		margin-right: 105px;
		padding-bottom: 26px;
	}

	.footer-contacts {
		margin: 0;
		border-top: none;
		border-bottom: none;
		padding: 0;
		gap: 0;
	}

	.footer-contacts__text-960 {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-right: 135px;
	}

	.footer-contacts__text {
		margin-right: 0;
	}

	.footer-contacts__text:first-child {
		margin-right: 0;
	}

	.footer-contacts__info {
		border-left: none;
		margin-left: 0;
		padding: 0;
		padding-top: 35px;
		width: 100%;
		border-top: 1px dashed #C7C3C1;
	}

	.footer-contacts__social {
		display: flex;
		flex-wrap: wrap;
		width: 96px;
		height: auto;
		gap: 16px;
	}

	.footer-item {
		gap: 88px;
	}

	.footer-list-grey {
		width: 127px;
	}

	.footer-info__descr {
		border-right: none;
	}

	.footer-bottom {
		display: inline-flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}

	.footer-info__subdescr {
		margin-right: 0;
		padding: 0;
		width: 100%;
		text-align: center;
		order: 3;
		padding-top: 24px;
		padding-bottom: 24px;
		border-top: 1px solid #C7C3C1;
	}

	.police-text {
		padding: 0;
		border-left: none;
		border-top: none;
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

@media screen and (max-width: 959px) {
	.header-container {
		padding-top: 0;
		padding-bottom: 0;
	}

	.header-main {
		flex-direction: row;
		gap: 0;
	}
	
	.header-top {
		gap: 0;
	}

	.header-logo {
		margin-top: 20px;
		width: 110px;
		height: 64px;
	}

	.header-info {
		justify-content: space-between;
	}

	.header-title {
		margin-top: 256px;
		font-size: 28px;
		line-height: 36px;
	}

	.header-title-2 {
		margin-top: 292px;
	}

	.header-btn {
		margin-top: 32px;
	}

	.arrow {
		top: auto;
		left: auto;
		align-self: flex-end;
		margin-top: 520px;
	}

	.header-top__number {
		margin-top: 44px;
		margin-right: 42px;
	}

	.header-top__search {
		display: none;
	}

	.header-list {
		display: none;
	}

	.burger-menu-btn {
		display: block;
	}

	.mobile-nav.active {
		display: flex; 
		flex-direction: column;
	}

	.container {
		padding-left: 32px;
		padding-right: 32px;
	}

	.about-us {
		margin-top: 52px;
	}

	.about-us__descr {
		width: 100%;
		margin-bottom: 40px;
		margin-right: 0;
	}

	.info-title {
		font-size: 24px;
	}

	.info-descr {
		font-size: 16px;
		line-height: 20px;
	}

	.about-us__info {
		gap: 60px;
	}

	.about-us__info-top {
		width: 300px;
		gap: 24px;
	}

	.about-us__info-descr {
		width: 228px;
	}

	.about-us__info-block {
		gap: 48px;
	}

	.products {
		margin-top: 100px;
	}

	.products__card {
		margin-top: 24px;
		gap: 24px;
	}

	.card {
		width: 696px;
	}

	.card-title {
		font-size: 20px;
	}

	.card-descr {
		width: 364px;
	}

	.card-descr-400 {
		width: 400px;
	}

	.card-small {
		width: 336px;
	}

	.card-descr__small {
		width: 272px;
	}

	.card-container-1 {
		background-position: 387px -21px;
	}

	.card-container-2 {
		background-position: 400px -4px;
	}

	.card-container-3 {
		background-image: url('./image/products-3.3.png');
		background-position: -3px 110px;
	}
	
	.card-container-4 {
		background-image: url('./image/products-4.3.png');
		background-position: 2px 115px;
	}

	.card-container-5 {
		background-position: 344px 0;
	}

	.card-container-6 {
		background-position: 372px -8px;
	}

	.card-container-7 {
		background-position: -34px 57px;
	}

	.card-container-8 {
		background-position: -34px 71px;
	}
	
	.card-container-9 {
		background-image: url('./image/products-9.3.png');
		background-position: 267px 1px;
	}

	.card-container-10 {
		background-position: -60px 16px;
	}

	.card-container-11 {
		background-position: 3px 103px;
	}
	
	.card-container-12 {
		background-image: url('./image/products-12.3.png');
		background-position: 363px 16px;
	}
	
	.card-container-13 {
		background-image: url('./image/products-13.3.png');
		background-position: 413px 9px;
	}

	.technologies {
		margin-top: 80px;
	}

	.technologies-descr {
		width: 576px;
	}

	.slider-btn {
		margin-top: 40px;
	}

	#gofrirovka {
		background-image: url('/image/image55.png');
		background-repeat: no-repeat;
		background-size: 696px 347px;
		border-radius: 24px;
	}
	
	#printing {
		background-image: url('/image/image55.png');
		background-repeat: no-repeat;
		background-size: 696px 347px;
		border-radius: 24px;
	}

	.slider-block {
		display: flex;
		padding-left: 40px;
		padding-top: 44px;
		padding-right: 0;
		padding-bottom: 40px;
		gap: 40px;
		margin-left: 0;
		margin-top: 350px;
	}

	#printing .slider-block {
		margin-left: 0;
		padding-bottom: 40px;
	}

	.technologies-sort {
		margin-top: 40px;
	}

	.technologies-block {
		width: 100%;
		gap: 16px;
	}

	.technologies__info-descr {
		font-size: 18px;
		width: 100%;
	}

	.technologies-nature {
		padding: 32px 37px 40px;
	}

	.nature-title {
		font-size: 24px;
	}

	.nature-descr {
		font-size: 16px;
		line-height: 24px;
	}

	.services {
		margin-top: 64px;
	}

	.services-info {
		gap: 24px;
	}

	.services-block {
		gap: 16px;
	}

	.services-info-block {
		width: 336px;
		background-size: cover;
	}

	.services-info-block-3, .services-info-block-4 {
		margin-top: 222px;
	}

	.services-info-block__descr {
		width: 320px;
	}

	.consultation {
		margin-top: 210px;
	}

	.newsletter {
		margin-top: 80px;
	}

	.new {
		gap: 24px;
		width: 696px;
		height: 224px;
	}

	.new-block {
		gap: 6px;
	}

	.new-block-1, .new-block-2, .new-block-3 {
		width: 276px;
		height: 180px;
	}

	.new-block-2 {
		margin-top: 48px;
	}

	.new-date {
		margin-left: 300px;
		width: 400px;
	}

	.new-title {
		font-size: 20px;
		line-height: 24px;
		margin-left: 300px;
		width: 400px;
	}

	.new-descr {
		width: 396px;
		margin-left: 300px;
	}

	.footer-info {
		padding-top: 40px;
		padding-right: 66px;
	}

	.footer-info__logo {
		width: 152px;
		height: 88px;
	}

	.footer-items {
		padding-top: 40px;
	}

	.footer-top {
		padding-bottom: 49px;
	}

	.footer-middle {
		height: 300px;
	}

	.footer-info__descr {
		padding: 0;
		margin-right: 131px;
	}

	.footer-contacts {
		display: inline-flex;
		flex-direction: column;
		gap: 32px;
	}

	.footer-contacts__info {
		margin-top: 48px;
	}

	.footer-contacts__text-960 {
		margin: 0;
		gap: 24px;
	}

	.footer-contacts__social {
		flex-wrap: nowrap;
		width: 208px;
	}

	.footer-info__subdescr {
		padding: 24px;
	}
	
	.police-text {
		display: inline-flex;
		padding: 22px 0;
		align-items: center;
	}

	.police-text-1 {
		width: 432px;
	}
}

@media screen and (max-width: 759px) {
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}

	.header-container {
		padding-left: 16px;
		padding-right: 16px;
	}

	.header-logo {
		width: 69px;
		height: 40px;
		margin-top: 10px;
	}

	.header-top__number {
		display: none;
	}

	.burger-menu-btn {
		margin-top: 18px;
	}

	.header-title {
		font-size: 20px;
		line-height: 28px;
		width: 100%;
		margin-top: 280px;
	}

	.header-title-2 {
		margin-top: 336px;
	}

	.header-btn {
		margin-top: 28px;
		margin-bottom: 32px;
	}

	.mobile-nav {
		width: 100%;
		height: 640px;
		padding: 10px 16px 16px 16px;
	}

	.mobile-nav__header {
		margin-bottom: 16px;
	}

	.mobile-logo {
		width: 69px;
		height: 40px;
	}

	.mobile-nav__header-phone {
		display: none;
	}

	.mobile-nav__header-info {
		padding-top: 8px;
	}

	.mobile-nav__serach-input {
		width: 288px;
		padding: 12px 204px 12px 12px;
	}

	.mobile-nav__menu-item {
		padding: 16px 0;
	}

	.mobile-nav__menu-item-320 {
		display: flex;
		font-size: 16px;
		font-weight: 500;
		line-height: normal;
	}

	.mobile-nav__social {
		margin-top: 59px;
	}

	.arrow {
		margin-top: 400px;
		display: none;
	}

	.arrow-320 {
		display: block;
		margin-top: 16px;
		text-align: center;
	}

	.about-us {
		margin-top: 48px;
	}

	.about-us__descr {
		margin-bottom: 16px;
	}

	.about-us__descr-title {
		margin-bottom: 8px;
		font-size: 24px;
		line-height: 32px;
		width: 288px;
	}

	.about-us__descr-info {
		margin-bottom: 8px;
		font-size: 18px;
		line-height: 24px;
		width: 100%;
	}

	.about-us__descr-descr {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
	}

	.about-us__video-container {
		width: 100%;
		height: 100%;
		margin-left: 0;
		margin-bottom: 30px;
	}

	.about-us__video {
		/* width: 288px;
		height: 162px; */
		width: 100%;
		height: 100%;
		border-radius: 8px;
	}

	.play-btn {
		width: 40px;
		height: 40px;
	}

	.about-us__info {
		flex-direction: column;
		gap: 32px;
	}

	.about-us__info-block {
		gap: 32px;
	}

	.picture-img {
		width: 32px;
		height: 32px;
	}

	.about-us__info-top {
		gap: 16px;
	}

	.about-us__info-bottom {
		gap: 16px;
	}

	.info-title {
		margin-bottom: 8px;
		font-size: 20px;
		line-height: 24px;
		width: 240px;
	}

	.about-us__info-descr {
		font-size: 14px;
	}

	.products {
		margin-top: 64px;
	}

	.title {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 8px;
	}

	.descr {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
	}

	.products__card {
		margin-top: 32px;
		gap: 16px;
	}

	.card {
		width: 288px;
		padding: 20px;
	}

	.card-small {
		height: 292px;
	}

	.card-title {
		font-size: 16px;
		line-height: 24px;
	}

	.card-descr {
		width: 100%;
		font-size: 14px;
		line-height: 20px;
	}

	.card-1 {
		height: 416px;
	}

	.card-container-1 {
		background-image: url('./image/products-1.4.png');
		background-position: 32px -11px;
		padding-top: 160px;
	}

	.card-2 {
		height: 372px;
	}

	.card-container-2 {
		background-image: url('./image/products-2.4.png');
		background-position: 63px -11px;
		padding-top: 160px;
	}

	.card-container-3 {
		background-position: -15px -36px;
		padding-top: 160px;
	}

	.card-container-4 {
		background-position: -10px -32px;
		padding-top: 160px;
	}

	.card-5 {
		height: 372px;
	}

	.card-container-5 {
		background-image: url('./image/products-5.4.png');
		background-position: 6px -2px;
		padding-top: 160px;
	}

	.card-6 {
		height: 452px;
	}

	.card-container-6 {
		background-image: url('./image/products-6.4.png');
		background-position: 34px -1px;
		padding-top: 160px;
	}

	.card-container-7 {
		background-image: url('./image/products-7.4.png');
		background-position: -11px -25px;
		padding-top: 160px;
	}

	.card-container-8 {
		background-image: url('./image/products-8.4.png');
		background-position: -20px -9px;
		padding-top: 160px;
	}

	.card-9 {
		height: 344px;
	}

	.card-container-9 {
		background-image: url('./image/products-9.4.png');
		background-position: -13px 0;
		padding-top: 160px;
	}

	.card-container-9::before {
		width: 71px;
		height: 25px;
		background-image: url('./image/products-9.4-logo.png');
		left: 197px;
		bottom: 20px;
	}

	.card-10 {
		height: 272px;
	}

	.card-container-10 {
		background-image: url('./image/products-10.4.png');
		background-position: -8px -22px;
		padding-top: 160px;
	}

	.card-container-11 {
		background-image: url('./image/products-11.4.png');
		background-position: 10px 0;
		padding-top: 160px;
	}

	.card-12 {
		height: 332px;
	}

	.card-container-12 {
		background-image: url('./image/products-12.4.png');
		background-position: 32px -11px;
		padding-top: 160px;
	}

	.card-13 {
		height: 356px;
	}

	.card-container-13 {
		background-image: url('./image/products-13.4.png');
		background-position: 32px -4px;
		padding-top: 160px;
	}

	.technologies-info {
		background-image: none;
	}

	.technologies-info .title {
		width: 288px;
		background-image: url('/image/logo.png');
		background-size: 59px 59px;
		background-repeat: no-repeat;
		background-position: right;
	}

	.technologies-descr {
		width: 100%;
	}

	.technologies-slider__btn {
		flex-direction: column;
	}

	.slider-btn {
		margin-top: 0;
		width: 288px;
	}

	.slider-btn:first-child {
		margin-top: 24px;
	}

	.slider-subtitle {
		font-size: 12px;
	}

	.slider-title {
		font-size: 16px;
	}

	.slider-list {
		font-size: 14px;
		width: 100%;
	}

	#gofrirovka {
		background-image: url('/image/image888.png');
		background-repeat: no-repeat;
		background-size: 286px 200px;
		border-radius: 8px;
	}
	
	#printing {
		background-image: url('/image/image888.png');
		background-repeat: no-repeat;
		background-size: 286px 200px;
		border-radius: 8px;
	}

	.slider-block {
		padding: 0;
		margin-top: 220px;
		gap: 18px;
	}

	.slider-block__item {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}

	.slider-block__item:last-child {
		padding-bottom: 24px;
	}

	.technologies-sort {
		margin-top: 56px;
		margin-bottom: 40px;
		gap: 32px;
	}

	.technologies__info-descr {
		width: 100%;
	}

	.technologies-nature {
		padding: 32px 19px 40px 21px;
	}

	.nature-img {
		margin-bottom: 14px;
	}

	.nature-title {
		font-size: 20px;
	}

	.nature-descr {
		font-size: 14px;
		line-height: 20px;
	}

	.services-sort {
		gap: 32px;
	}

	.services-block {
		width: 100%;
	}

	.services__info-descr {
		width: 100%;
	}

	.services-info-block {
		height: 100%;
		gap: 4px;
	}

	.services-info-block-1, .services-info-block-2, .services-info-block-3, .services-info-block-4 {
		width: 100%;
		width: 288px;
		height: 160px;
	}

	.services-info-block-2, .services-info-block-3 {
		margin-top: 196px;
	}

	.services-info-block-4 {
		margin-top: 156px;
	}

	.services-info-block-1 {
		background-image: url('/image/services-block-1.png');
	}

	.services-info-block-2 {
		background-image: url('/image/services-block-2.png');
	}

	.services-info-block-3 {		
		background-image: url('/image/services-block-3.png');
	}

	.services-info-block-4 {		
		background-image: url('/image/services-block-4.png');
	}

	.services-info-block__title {
		width: 100%;
		font-size: 16px;
		line-height: 24px;
		margin-top: 176px;
	}

	.services-info-block__subtitle {
		margin-top: 0;
	}

	.services-info-block__descr {
		margin-top: 0;
		width: 100%;
	}

	.consultation {
		margin-top: 239px;
	}

	.consultation-title {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 8px;
	}

	.consultation-descr {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
	}

	.consultation-form {
		width: 288px;
	}

	.form-input {
		padding: 12px 202px 12px 12px;
		font-size: 16px;
	}

	.form-btn {
		margin-top: 24px;
		margin-bottom: 40px;
		font-size: 16px;
		padding: 12px 40px;
		letter-spacing: 0.16px;
	}

	.newsletter {
		margin-top: 64px;
		margin-bottom: 80px;
	}

	.newsletter-btn {
		font-size: 14px;
	}

	.new {
		flex-direction: column;
		width: 100%;
		height: 188px;
	}

	.new-block {
		gap: 4px;
		width: 100%;
	}

	.new-block-2 {
		margin-top: 260px;
	}

	.new-block-3 {
		margin-top: 440px;
	}

	.new-date {
		margin-left: 0;
		margin-top: 200px;
		width: 100%;
	}

	.new-title {
		font-size: 16px;
		line-height: 24px;
		margin-left: 0;
		width: 100%;
	}

	.new-descr {
		width: 100%;
		font-size: 14px;
		line-height: 20px;
		margin-left: 0;
	}

	.footer {
		margin-top: 800px;
	}

	.footer-top {
		flex-direction: column;
		padding-bottom: 0;
		margin-bottom: 32px;
	}

	.footer-item {
		display: none;
		padding-bottom: 0;
	}

	.footer-middle {
		height: 100%;
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
		border-top: none;
	}

	.footer-contacts {
		height: 100%;
		margin-bottom: 32px;
		align-items: flex-start;
	}

	.footer-contacts__info {
		padding-top: 16px;
		padding-bottom: 16px;
		margin-top: 0;
		border-bottom: 1px solid #C7C3C1;
		width: 100%;
	}

	.footer-contacts__info-text {
		display: block;
		font-size: 24px;
		line-height: 32px;
		width: 100%;
	}

	.footer-contacts__text {
		font-size: 14px;
		line-height: 20px;
	}

	.footer-info {
		padding-top: 0;
		padding-right: 0;
	}

	.footer-info__logo {
		width: 103px;
		height: 60px;
	}

	.footer-info__descr {
		margin-right: 0;
		margin-bottom: 21px;
	}

	.footer-info__descr-text {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
	}

	.footer-info__subdescr {
		padding: 16px 0;
		text-align: left;
		border-top: none;
	}

	.police-text {
		padding: 16px 0;
	}

	.police-text-2 {
		border-top: 1px solid #C7C3C1;
		border-bottom: 1px solid #C7C3C1;
		width: 100%;
	}
}